<%= form_for [@movie] do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name, value: @movie.name %>
</p>
<p>
  <%= f.label :plot_summary %>
  <%= f.text_area :plot_summary, value: @movie.name %>
  <%= f.submit %>
</p>
<%end%>

<% if @error %>
  <p><%= @error %></p>
<%end%>