<h1><%= @movie.name %></h1>
<p><%= @movie.plot_summary %></p>
<ul id="tabs">
  <li><a href="#trusted">Trusted Reviews</a></li>
  <li><a href="#user">User Reviews</a></li>
  <li><a href="#all">All Reviews</a></li>
</ul>

<div class="tabContent" id="trusted">
  <% @movie.trusted_reviews.each do |review| %>
    <%= render partial: "reviews/review_excerpt", locals: { review: review } %>
  <% end %>
</div>

<div class="tabContent" id="user">
  <% @movie.user_reviews.each do |review| %>
    <%= render partial: "reviews/review_excerpt", locals: { review: review } %>
  <% end %>
</div>

<div class="tabContent" id="all">
  <% @movie.all_reviews.each do |review| %>
    <%= render partial: "reviews/review_excerpt", locals: { review: review } %>
  <% end %>
</div>
