<h1><%= @movie.name %></h1>

<% if current_user %>
  <% if @movie.reviews.find_by(user: current_user) %>
    <h4 class="edit"><%= link_to "Update Your Review", edit_movie_review_path(@movie, @movie.reviews.find_by(user: current_user)) %></h4>
  <% else %>
    <h4 class="edit"><%= link_to "Add Your Review", new_movie_review_path(@movie), :id => "add-review" %></h4>
  <% end %>
<% end %>

<div>
  <img class='poster' src='<%= @movie.poster %>' >
  <p>
   <% @thumbs.times do %>
   <%= image_tag('Thumb_Logo.png', :height => 50) %>
   <% end %></p>
</div>
<p><%= @movie.plot_summary %></p>

 <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#all">All Reviews</a></li>
        <% if @movie.trusted_reviews.length > 0 %>
          <li class="tab col s2" id="trusted-tab"><a href="#trusted">Trusted Reviews</a></li>
        <% end %>
        <% if @movie.user_reviews.length > 0 %>
          <li class="tab col s2" id="user-tab"><a href="#user">User Reviews</a></li>
        <% end %>
      </ul>
    </div>
  </div>

<div class="tabContent" id="all">
  <% @movie.all_reviews.each do |review| %>
    <%= render partial: "reviews/review_excerpt", locals: { review: review } %>
  <% end %>
</div>
<% if @movie.trusted_reviews.length > 0 %>
  <div class="tabContent" id="trusted">
    <% @movie.trusted_reviews.each do |review| %>
      <%= render partial: "reviews/review_excerpt", locals: { review: review } %>
    <% end %>
  </div>
<% end %>

<% if @movie.user_reviews.length > 0 %>
  <div class="tabContent" id="user">
    <% @movie.user_reviews.each do |review| %>
      <%= render partial: "reviews/review_excerpt", locals: { review: review } %>
    <% end %>
  </div>
<% end %>

