<h1><%= @movie.name %></h1>
<p><%= @movie.plot_summary %></p>
<h2>Trusted Reviews</h2>
<% @movie.trusted_reviews.each do |review| %>
  <ul>
  	<li><%= link_to(review.user.name, user_path(review.user) ) %> 
  	<% if review.user.trusted %>
  	- TRUSTED USER
  	<%end%>
  	</li>
  	<li><%= review.title %></li>
  	<li><%= review.rating %></li>
  </ul>
<% end %>

<h2>Untrusted Reviews (or User Reviews)</h2>
<% @movie.user_reviews.each do |review| %>
  <ul>
  	<li><%= link_to(review.user.name, user_path(review.user) ) %> 
  	<% if review.user.trusted %>
  	- TRUSTED USER
  	<%end%>
  	</li>
  	<li><%= review.title %></li>
  	<li><%= review.rating %></li>
  </ul>
<% end %>

<h2>All Reviews</h2>
<% @movie.all_reviews.each do |review| %>
  <ul>
  	<li><%= link_to(review.user.name, user_path(review.user) ) %> 
  	<% if review.user.trusted %>
  	- TRUSTED USER
  	<%end%>
  	</li>
  	<li><%= review.title %></li>
  	<li><%= review.rating %></li>
  	<li><%= truncate(sanitize(review.content), length: 5, omission: "...")%> - <%= link_to("Read More", review_path(review) )%></li>
  </ul>
<% end %>