<h1><%= @movie.name %></h1>
<p><%= @movie.plot_summary %></p>
<h2>Trusted Reviews</h2>
<% @movie.trusted_reviews.each do |review| %>
  <%= render partial: "review_excerpt", locals: { review: review } %>
<% end %>

<h2>User Reviews</h2>
<% @movie.user_reviews.each do |review| %>
  <%= render partial: "review_excerpt", locals: { review: review } %>
<% end %>

<h2>All Reviews</h2>
<% @movie.all_reviews.each do |review| %>
  <%= review.user.name %>
  <%= render partial: "review_excerpt", locals: { review: review } %>
<% end %>
