<div class="comment">
  <p class="commenter"><%= comment.user.name%> <strong><%= comment.user.trusted_string %></strong>
  </p>
  <p><%= comment.content %></p>
  <%= link_to hide_comment_path(comment), method: :put do %>
    Hide Comment
  <% end %>
  |
  <%= link_to clear_flag_comment_path(comment), method: :put do %>
    Unflag Comment
  <% end %>
</div>
