


<div class="row">
<h1><%= link_to @feature_movie.name, @feature_movie, id: "movie-#{@feature_movie.id}" %></h1>
<div>
  <img class='poster' src='<%= @feature_movie.poster %>' >
  <p>
   <% @thumbs.times do %>
   <%= image_tag('Thumb_Logo.png', :height => 50) %>
   <% end %></p>
</div>
<p><%= @feature_movie.plot_summary %></p>
</div>
<div class="container">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h2 class="center">Popular Movies</h2>

            <% @popular_movies.each do |movie| %>
              <li><%= link_to movie.name, movie, id: "movie-#{movie.id}" %></li>
            <% end %></p>
          </div>
        </div>

        <div class="col s6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h2 class="center">Popular Reviews</h2>
              <% @popular_reviews.each do |review| %>
              <li><%= link_to review.title, review %></li>
              <% end %></p>

          </div>
        </div>
       </div>
</div>
    <br><br>