


<div class="row">
<h1><%= link_to @feature_movie.name, @feature_movie, id: "movie-#{@feature_movie.id}" %></h1>
<div>
  <img class='poster' src='<%= @feature_movie.poster %>' >
  <p>
   <% @thumbs.times do %>
   <%= image_tag('Thumb_Logo.png', :height => 50) %>
   <% end %></p>
</div>
<p><%= @feature_movie.plot_summary %></p>
</div>
<div class="container">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s6">

            <h2 class="title">Popular Movies</h2>
            <ul><div class="popular-list">
            <% @popular_movies.each do |movie| %>
              <li><%= link_to movie.name, movie, id: "movie-#{movie.id}" %></li>
            <% end %></div></ul></p>
          </div>
        <div class="col s1"></div>
        <div class="col s6">
            <h2 class="title">Recent Reviews</h2>
             <ul><div class="popular-list"><% @recent_reviews.each do |review| %>
              <li><%= link_to review.title, review %></li>
              <% end %></div></ul></p>
        </div>
       </div>
</div>
    <br><br>