<h3><%= link_to(review.movie.name, review.movie) %>: <%= link_to(review.title, movie_review_path(review.movie, review)) %> <% review.movie.movie_score.times do %>
    <%= image_tag('Thumb_Logo.png', :height => 30) %>
    <% end %>
</h3>
<p><%= review.get_upvotes.size %> Likes</p>

<%= truncate(sanitize(review.content), length: 150, omission: "...")%> - <%= link_to("Read More", movie_review_path(review.movie, review) )%>
