<%= form_for [@review.movie, @review] do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, value: @review.title %>
  </p>
  <p>
    <%= f.label :rating %>
    <%= f.number_field :rating, value: @review.rating %>
  </p>
  <p>
    <i class="material-icons">create</i>
    <%= f.label :Your_Review %>
    <%= f.text_area :content, value: @review.content, :class => "materialize-textarea" %>
  </p>
  <p>
    <% if @review.errors.any? %>
      <ul>
        <% @review.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <%= f.submit "Update Review" %>
  </p>

<% end %>
