<h2><center><span class="title">Write a review</span></center></h2>

<%= form_for [@movie, @review] do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  </p>
  <p>
    <%= f.label :Your_Review %>
    <%= f.text_area :content, :class => "materialize-textarea" %>
  </p>
  <p>
    <% if @review.errors.any? %>
      <ul>
        <% @review.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <%= f.submit %>
  </p>

<% end %>
