<h2><%= @review.title %> | <%= link_to @review.movie.name, @review.movie %></h2>
<h4>By: <%= link_to @review.user.name, @review.user %></h4>

<% if current_user && (current_user.voted_for? @review) %>
  <b>
<% end %>
<%= link_to like_review_path(@review), method: :put do %>
  Like!<% end %>
</b>
<%= @review.get_upvotes.size %>

<div>
  <p>Rating: <%= @review.rating %> thumbs up</p>
  <p><%= @review.content %></p>
</div>

<p>Created at: <%= @review.created_at %></p>
<% if @review.updated_at != @review.created_at %>
  <p>Updated at: <%= @review.updated_at %></p>
<% end %>

<% if @review.user == current_user %>
  <%= link_to "Edit your review", edit_movie_review_path(@review.movie, @review) %>
<% end %>

<h4>Comments</h4>
<% @comments.each do |comment| %>
  <p><%= comment.user.name%></p>
  <p><%= comment.content %></p>
<%end%>

<%if session[:user_id] %>
  <%= render partial: "comments/comments_form", locals: { review: @review, new_comment: @new_comment } %>
<%else%>
  <p>To comment, you need to login or register for an account.</p>
<%end%>
