<h2><%= @review.title %> | <%= @review.movie.name %></h2>
By: <h4><%= @review.user.name %></h4>
Created at: <%= @review.created_at %>


<p><%= @review.rating %></p>

<p><%= @review.content %></p>

<h4>Comments</h4>
<% @comments.each do |comment| %>
  <p><%= comment.user.name%></p>
  <p><%= comment.content %></p>
<%end%>
